# Dữ liệu
*.tif
*.csv
*.shp
*.shx
*.dbf
*.prj
*.sbn
*.sbx
*.cpg
*.xml

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints

# Hệ điều hành
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Các file kết quả
data/*
!data/.gitkeep 